
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
:root{
    --first-color: #3684FD;
    --first-light-color:#B5DDFF;
    --second-color:#9792E4;
}
main{
    padding-top: 100px;
}
.debug-box{
    height: 80px;
    background-color: var(--first-light-color);
    padding: 1rem;
}

header.header-top{
    background-color: var(--first-color);
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}
.contenitore{
    height: 80px;
    background-color: var(--first-light-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    margin-bottom: 1.5rem;
}
#strategic{
    background-color: var(--second-color);
    padding: 50px 0px;
}
#strategic .col{
    margin: 1rem 0;
}
#partners{
    padding-top: 20px;
}
#partners .card{
    margin: 2rem 0;
}
#benefits{
    background-color: var(--second-color);
    padding: 2rem 0;
}
#benefits .cards{
    margin-left: -1rem;
    margin-right: -1rem;
}
@media screen and (min-width:768px) {
    .container{
        max-width: 740px;
    }
    #application .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
       
    }
    #application .card{
        width: calc((100% / 3) - 1.5rem);
        background-color: var(--first-light-color);
    }
    #application .card:first-child{
        width: calc((100% / 3 * 2) - 0.80rem);
    }
    #partners .card{
        display: flex;
    }
    #benefits .cards{
        display: flex;
        flex-wrap: wrap;
    }
    #benefits .card{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 2) - 2rem);
    }
}
@media screen and (min-width:992px) {
    .container{
        max-width: 960px;
    }
    #application .card:first-child{
        display: flex;
        justify-content: space-between;
    }
    #strategic .columns{
        display: flex;
        padding-left: 100px;
        padding-right: 100px;
    }
    #strategic .col{
        width: 50%;
        margin: 2rem;
    }
    #benefits .card{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc((100% / 3) - 2rem);
    }
}

