
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
:root{
    --first-color: #3684FD;
    --first-light-color:#B5DDFF;
    --second-color:#9792E4;
}

header.header-top{
    background-color: var(--first-color);
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}
.contenitore{
    height: 80px;
    background-color: var(--first-light-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}